<div style="margin-bottom: 10%;">
    <form [formGroup]="tokenForm" (ngSubmit)="saveDetails(tokenForm)">
        <div>
            <mat-form-field appearance="fill" style="display: inline-block; margin: 2px;">
                <mat-label>Grant Type</mat-label>
                <input matInput formControlName="grantType" placeholder="Example: client_credentials">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Name client</mat-label>
                <input matInput formControlName="clientId" placeholder="Client id : name client.">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill" style="display: inline-block; margin: 2px;">
                <mat-label>Client Secret</mat-label>
                <input matInput formControlName="clientSecret" placeholder="Your client secret">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Scope</mat-label>
                <input matInput formControlName="scope" placeholder="example: WK.GraphAPI.Private">
            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!tokenForm.valid">Create</button>
        </div>
    </form>